<div class="footer_home">
      <div class="container">
      <div style="width:100%">
    
  
<span style="float:right;padding: 4px;width:100%;display:inline-block;color:#f6f6f6;">

      <span style="float:left;top: 18px;position: relative;padding-left:0.1%;color:#000;font-weight:bold;font-size:1.2em"> Humanising Financial Services.</span>

     <span style="padding-left:20%"> <img src="client/assets/images/maybank_logo.png" style="float: right;top:7px;position:relative"> </span> 
  </span>
</div>

      </div>
    </div>