  <nav class="navbar navbar-default navbar-fixed-top navbar-style" ng-controller="loginctrl">
        <div class="row">
            <div class="col-md-2">
                <div class="ti-arrow-left" ng-click="backbtn()" style="padding: 1em;font-size: 1.5em;" ng-show="showbackbtn"></div>
            </div>
            <div class="col-md-7">
                <div class="headerCls">IT Application Inventry</div>
            </div>
            
<!--
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
          </div>
-->
          <div id="navbar" class="navbar-collapse collapse col-md-3">
            <!--ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul-->
            <ul class="nav navbar-nav navbar-right" ng-show="isloggedIn">
              <li data-toggle="popover" data-trigger="focus" data-content="Logout"><div class="thumb-sm avatar pull-left" style="padding: 0.5em;"><img class="logoCls" src="client/assets/images/logo.png"/></div><div class="pull-left" style="padding: 0.5em;font-size: 1.7em;">{{currentUser}}</div>
                <div class="pull-left ti-share-alt" style="padding: 0.8em;font-size: 1.5em;" ng-click="logout()" title="Logout"></div></li>
            </ul>
          </div>
        </div>
      </nav>
<div id="Slider" class="slideup">
        <!-- content has to be wrapped so that the padding and
                margins don't effect the transition's height -->
        <div id="Actual" style="text-align:center;margin-top:0.5em">
                {{notificationtext}}
            </div>
      </div>