<div class="DemoBS3">
 <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#quotes1" data-toggle="tab">Quotes1</a></li>
      <li><a href="#quotes2" data-toggle="tab">Quotes2</a></li>
   
      <li class="dropdown">
        
        <a href="#" id="myTabDrop1" class="dropdown-toggle" 
        data-toggle="dropdown">Change<b class="caret"></b></a>
        
        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
          <li><a href="#quotes3" tabindex="-1" data-toggle="tab">Quotes3</a></li>
          <li><a href="#quotes4" tabindex="-1" data-toggle="tab">Quotes4</a></li>
        </ul>
        
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane in active" id="quotes1">
      <p>If you don't design your own life plan, chances are
        you'll fall into someone else's plan. And guess what
        they have planned for you? Not much.</p>
      </div>
      <div class="tab-pane " id="quotes2">
       <p>Always continue the climb. It is possible for you to
         do whatever you choose, if you first get to know who
         you are and are willing to work with a power that
         is greater than ourselves to do it.</p> 
    </div>
      <div class="tab-pane " id="quotes3">
     <p> Change does not roll in on the wheels of inevitability,
       but comes through continuous struggle.
       And so we must straighten our backs and work 
       for our freedom. A man can't ride you unless your back is bent.</p>
     </div>
      <div class="tab-pane " id="quotes4">
    <p>You must take personal responsibility.
      You cannot change the circumstances, the seasons,
      or the wind, but you can change yourself. 
      That is something you have charge of.</p>
    </div>
    </div></div>